#logo {
  color: var(--primary-color);
  font-family: 'Permanent Marker', cursive;
  margin: 0px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 900px;
  flex-grow: 1;
}

.header-bar {
  width: 100%;
  border-bottom: 1px solid var(--medium-color);
  padding-bottom: 10px;
}

.header {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;

  & a {
    color: var(--primary-color);
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 0.5rem;
  }

  & a:hover {
    color: var(--primary-light);
  }
}

.user-nav {
  display: flex;
  align-items: center;
}

.footer-bar {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 1px solid var(--medium-color);
  text-align: center;
  text-transform: uppercase;
  color: var(--text-light);
}
