/* Pagination styling for react-paginate */

.item {
  align-items: center;
  color: var(--text-light);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.disabled-page a {
  color: var(--light-color) !important;
}

.active {
  border: solid 1px #2563eb;
  border-radius: 40px;
  color: #2563eb;
}

.next {
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  width: 150px;
}

.pagination {
  align-items: center;
  background-color: var(--medium-color);
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  font-size: 20px;
  height: 60px;
  left: 0;
  position: absolute;
  width: 150px;
}
